---
import { uniqueID } from '../util';
export interface Props {
  percent: number;
  color: string;
  alt: string;
}

const { percent, color, alt } = Astro.props;

const id = uniqueID();
---

<div class="chart">
  <svg
    viewBox="0 0 36 36"
    class="circular-chart"
    role="img"
    aria-describedby={id}
  >
    <title id={id}>{alt}</title>
    <path
      class="circle-bg"
      d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
    ></path>
    <path
      class="circle"
      stroke-dasharray={`${percent}, 100`}
      d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
    ></path>
    <text x="18" y="20.35" class="percentage">{percent}%</text>
  </svg>
</div>

<style define:vars={{ color }}>
  .chart {
    width: 33%;
    justify-content: space-around;
  }

  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
    stroke: var(--color);
  }

  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }

  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
</style>
